<ion-content>
    <h2 padding style="margin-top: 20%">Sobre você</h2>

    <ion-list>
        <ion-list-header></ion-list-header>

        <ion-item>
            <ion-label>Faixa etária</ion-label>
            <ion-select [(ngModel)]="faixa">
                <ion-option *ngFor="let faixa of faixas" [value]="faixa">{{ faixa.descricao }}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Sexo</ion-label>
            <ion-select [(ngModel)]="sexo">
                <ion-option *ngFor="let sexo of sexos" [value]="sexo.value">{{ sexo.descricao }}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Escolaridade</ion-label>
            <ion-select [(ngModel)]="escolaridade">
                <ion-option *ngFor="let escolaridade of escolaridades" [value]="escolaridade.value">{{ escolaridade.descricao }}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Ocupação política</ion-label>
            <ion-select [(ngModel)]="ocupacao">
                <ion-option *ngFor="let ocupacao of ocupacoes" [value]="ocupacao.value">{{ ocupacao.descricao }}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Estado de votação</ion-label>
            <ion-select [(ngModel)]="estado">
                <ion-option *ngFor="let estado of estados" [value]="estado.sigla">{{ estado.nome }}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <ion-footer padding>
        <button ion-button block clear icon-right color="primary" (click)="toHome()" [disabled]="!faixa || !sexo || !escolaridade || !ocupacao || !estado">
            Continuar
        </button>
    </ion-footer>
</ion-content>
