<ion-header>
    <ion-navbar>
        <ion-title>Enquete</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>Proposições</ion-list-header>

        <ion-item>
            <ion-label>Tema</ion-label>
            <ion-select [(ngModel)]="tema">
                <ion-option selected value="ALL">Todos</ion-option>
                <ion-option *ngFor="let tema of temas" value="{{tema}}">{{ tema }}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>Autor</ion-list-header>

        <ion-item>
            <ion-label>Estado</ion-label>
            <ion-select [(ngModel)]="estado">
                <ion-option selected value="ALL">Todos</ion-option>
                <ion-option *ngFor="let estado of estados" value="{{estado.sigla}}">{{ estado.nome }}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Partido</ion-label>
            <ion-select [(ngModel)]="partido">
                <ion-option selected value="ALL">Todos</ion-option>
                <ion-option *ngFor="let partido of partidos" value="{{partido.sigla}}">{{ partido.nome }}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Deputado</ion-label>
            <ion-select [(ngModel)]="deputado">
                <ion-option selected value="ALL">Todos</ion-option>
                <ion-option *ngFor="let deputado of deputados" value="{{deputado.id}}">{{ deputado.nome }} ({{ deputado.siglaPartido }} - {{ deputado.siglaUf }})</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <ion-footer padding>
        <button ion-button block (click)="toProposicoes()">CONTINUAR</button>
    </ion-footer>
</ion-content>
