<ion-header>
    <ion-navbar>
        <ion-title>Enquete</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>Proposições</ion-list-header>

        <ion-item>
            <ion-label>Assunto</ion-label>
            <ion-select [(ngModel)]="estado">
                <ion-option selected value="ALL">Todos</ion-option>
                <ion-option *ngFor="let estado of estados" value="{{estado.sigla}}">{{ estado.nome }}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>Deputado</ion-list-header>

        <ion-item>
            <ion-label>Estado</ion-label>
            <ion-select [(ngModel)]="estado">
                <ion-option selected value="ALL">Todos</ion-option>
                <ion-option *ngFor="let estado of estados" value="{{estado.sigla}}">{{ estado.nome }}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Partido</ion-label>
            <ion-select [(ngModel)]="partido">
                <ion-option selected value="ALL">Todos</ion-option>
                <ion-option *ngFor="let partido of partidos" value="{{partido.sigla}}">{{ partido.nome }}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Deputado</ion-label>
            <ion-select [(ngModel)]="deputado">
                <ion-option selected value="ALL">Todos</ion-option>
                <ion-option *ngFor="let deputado of deputados" value="{{deputado.id}}">{{ deputado.nome }} ({{ deputado.siglaPartido }} - {{ deputado.siglaUf }})</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <ion-footer padding>
        <button ion-button block (click)="toEnquete()">Continuar</button>
        <!-- <ion-item (click)="toEnquete()" color="primary">
            <ion-icon name="play" item-start></ion-icon>Continuar
        </ion-item> -->
    </ion-footer>
</ion-content>
