page-home {

}

.card-background-page {

    ion-card {
        position: relative;
        text-align: center;
    }

    .card-image {
        height: 100px;
    }

    .card-overlay{
        background-color: rgba(0, 0, 0, 0.3);
    }

    .card-overlay-soon{
        background-color: rgba(0, 99, 169, 0.9);
    }

    .card-title {
        height: 100px;
        position: absolute;
        top: 0;
        padding: 30px;
        width: 100%;
        font-weight: bold;
        color: #fff;
        // background-color: rgba(0, 0, 0, 0.3);
    }

    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 40%;
        width: 100%;
        color: #fff;
    }

}
