page-home {

}

.home-background {
    background-color: $page-background;
}

.home-header {
    padding: 32px 10px 10px 10px;
    height: 156px;
    color: white;
    background-color: color($colors, primary);
    text-align: center;
}

.home-divider {
    width: 60%;
    height: 4px;
    background-color: color($colors, primary);
    margin: 8px 0px 8px 0;
}

.home-title {
    font-size: 1.7em;
    font-weight: bold;
}

.home-subtitle {
    font-size: 1.2em;
}

.home-logo {
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 10px;
    width: 96px;
    height: 96px;
    border-radius: 50%;
}

.home-card {
    text-align: center;
    padding: 24px;
}

.home-card-first {
    text-align: left;
    margin-top: -40px;
    padding: 16px;
}

.home-card-primary {
    background-color: color($colors, primary);
    color: white;
}

.home-card-secondary {
    background-color: color($colors, secondary);
    color: white;
}

.home-card-dark {
    background-color: color($colors, dark);
    color: white;
}
