<ion-header>
    <ion-navbar>
        <ion-title>VOTAÇÕES</ion-title>
        <ion-buttons end>
            <button ion-button (click)="doContinuar()">Continuar</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>Seu representante <small>(obrigatório)</small></ion-list-header>
        <ion-item>
            <ion-label>Deputado</ion-label>
            <ion-select [(ngModel)]="deputado">
                <!-- <ion-option selected value="ALL">Todos</ion-option> -->
                <ion-option *ngFor="let deputado of deputados" value="{{ deputado.id }}">{{ deputado.nome }} ({{ deputado.siglaPartido }} - {{ deputado.siglaUf }})</ion-option>
            </ion-select>
        </ion-item>
        <p padding-horizontal><small>Selecione o deputado que você deseja comparar e analisar os votos nas proposições.</small></p>
    </ion-list>

    <ion-list>
        <ion-list-header>Proposições</ion-list-header>

        <ion-item>
            <ion-label>Tema</ion-label>
            <ion-select [(ngModel)]="tema">
                <ion-option selected value="ALL">Todos</ion-option>
                <ion-option *ngFor="let tema of temas" [value]="tema">{{ tema }}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>Autor</ion-list-header>

        <ion-item>
            <ion-label>Estado</ion-label>
            <ion-select [(ngModel)]="estado" (ionChange)="filterAutores()">
                <ion-option value="ALL">Todos</ion-option>
                <ion-option *ngFor="let estado of estados" [value]="estado.sigla" [selected]="info.region == estado.sigla">{{ estado.nome }}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Partido</ion-label>
            <ion-select [(ngModel)]="partido" (ionChange)="filterAutores()">
                <ion-option selected value="ALL">Todos</ion-option>
                <ion-option *ngFor="let partido of partidos" [value]="partido.sigla">{{ partido.nome }}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Deputado</ion-label>
            <ion-select [(ngModel)]="autor">
                <ion-option selected value="ALL">Todos</ion-option>
                <ion-option *ngFor="let autor of autores" value="{{ autor.id }}">{{ autor.nome }} ({{ autor.siglaPartido }} - {{ autor.siglaUf }})</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <!-- <ion-footer ion-fixed padding>
        <button ion-button block (click)="toProposicoes()" [disabled]="!deputado">CONTINUAR</button>
    </ion-footer> -->
</ion-content>
