<ion-header>
    <ion-navbar>
        <ion-title>
            Deputados
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header></ion-list-header>

        <ion-item>
            <ion-label>Estado</ion-label>
            <ion-select [(ngModel)]="estado">
                <ion-option selected value="ALL">Todos</ion-option>
                <ion-option *ngFor="let estado of estados" value="{{estado.sigla}}">{{ estado.nome }}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Partido</ion-label>
            <ion-select [(ngModel)]="partido">
                <ion-option selected value="ALL">Todos</ion-option>
                <ion-option *ngFor="let partido of partidos" value="{{partido.sigla}}">{{ partido.nome }}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Nome</ion-label>
            <ion-input type="text" [(ngModel)]="nome" text-right uppercase></ion-input>
        </ion-item>
    </ion-list>

    <ion-footer padding>
        <button ion-button block (click)="toLista()">BUSCAR</button>
    </ion-footer>
</ion-content>
